

<mat-dialog-content >
  <table>
    <!-- <tr><th>Name</th><th>Email</th></tr> -->
    <tr>
        <td>Wel-come {{data['name']}} </td>
        <td>{{data['email']}}</td>
        <td><button mat-raised-button color="primary" (click)="close()">Close</button></td>
      </tr>
  </table> <div>Profile of the couple you currently sponsor</div>
    <div class="pdf-container"  >
        <ngx-extended-pdf-viewer [src]="'assets/sagarsahil.pdf'" 
          [useBrowserLocale]="true" 
          [textLayer]="true" 
          [showHandToolButton]="true" 
          [zoom]= 70>
        </ngx-extended-pdf-viewer>
      </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" color="primary" (click)="close()">Close</button>
    <!-- <button class="mat-raised-button mat-primary"(click)="save()">Save</button> -->
</mat-dialog-actions>
